[package]
name = "sift"
version = "0.1.0"
authors = ["Marc Haubenstock <marc.haubenstock@outlook.com>"]
edition = '2018'

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
image = "0.23.4"
nalgebra = "0.21.0"
rand = "0.7.3"
rand_distr = "0.3.0"