[package]
name = "vision"
version = "0.1.0"
authors = ["Marc Haubenstock <marc.haubenstock@outlook.com>"]
edition = '2018'

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
#image = "0.23.12"
image = "*"
nalgebra = {version="*"}
#nalgebra-lapack = {version ="*", default-features=false}
rand = "*"
rand_distr = "*"
optimization_engine = "*"
plotters = { version = "*", default_features = true}